html { 
  background: url(../bg2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: 'ZCOOL QingKe HuangYou';
  font-size: 80px;
    text-shadow: 4px 4px 4px #aaa;
    color: #ffd700;
    text-align: center;
    font-style: italic;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 20px;
  
}

.zone {
  text-align: center;
  border: solid;
  background-color: grey;
  border-radius: 50px;
  opacity: 0.5;
}

div h3 {
  color: #ffd700;
}